body{
    overflow: hidden;
}
.center{
    top: 50vh;
    left:50%;
    position: relative;
    height: 1px;
    width: 50vh;
    border: 1px solid black;
    animation: axisRotate 1s infinite;
    animation-timing-function: linear;
    transform-origin: 0 50%;
}
@keyframes axisRotate{
    0%  {transform: rotate3d(0, 0, 1, 0deg); }
    25% {transform: rotate3d(0, 0, 1, 90deg); }
    50% {transform: rotate3d(0, 0, 1, 180deg);}
    75% {transform: rotate3d(0, 0, 1, 270deg); }
    100%{transform: rotate3d(0, 0, 1, 360deg);}
}

.circle{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
}

.circleAnimation{
    top: 50%;
    left: 0;
    animation: oscillate .4s infinite;
    transform: translateY(-50%);
}

.circleColor{
    border-color: rgb(0, 0, 0);
}

@keyframes oscillate {
    0%  {left: 0;}
    50% {left: 100%;}
    100%{left: 0;}
}

#changeColor{
    position: absolute;
    bottom: 0;
}